@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
body {
  margin: 0;
  font: 300 1rem/normal "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

.headline1 {
  font: 800 3rem/normal "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
}

.headline2 {
  font: 600 1.5rem/normal "Montserrat", sans-serif;
  color: #191e3b;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 1.5rem;
}

.headline3 {
  font: 600 1.5rem/normal "Montserrat", sans-serif;
}

p {
  font: 300 1rem/normal "Montserrat", sans-serif;
  color: #757787;
}

.header {
  block-size: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 0.5rem;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 3;
  border-block-end: 1px solid #f1f5f9;
}
.header-logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.header span {
  display: block;
  line-height: 1rem;
  font-weight: 600;
  color: #757787;
}

.navbar {
  text-align: end;
}
.navbar .nav-link {
  font-weight: 400;
  color: #757787;
  position: relative;
}
.navbar .active {
  color: #191e3b;
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
  text-underline-offset: 0.375rem;
}
.navbar .navbar-toggler {
  border: none;
  box-shadow: none;
}

.regions-items::before, .categories-travel::before, .hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
}

.hero {
  block-size: 23.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero::before {
  background-image: url("../images/hero.webp");
  background-position: center;
  background-size: cover;
  filter: brightness(0.6);
}
.hero-description {
  position: relative;
  color: var(--white);
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-inline-size: 25rem;
  block-size: 100%;
  text-align: center;
}
.hero-headline1 {
  font: 600 1.5rem/normal "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.4;
}
.hero-know-more {
  color: #ffffff;
  font: 600 1rem/normal "Montserrat", sans-serif;
  line-height: 24px;
  border: 1px solid #ffffff;
  inline-size: 11.25rem;
  text-align: center;
  padding-block: 0.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
}
.hero-know-more:hover {
  background-color: #ffffff;
  color: #191e3b;
  transition: 0.3s;
}

.categories-container::-webkit-scrollbar {
  inline-size: 6px;
  block-size: 6px;
}
.categories-container::-webkit-scrollbar-thumb {
  background: #757787;
  border-radius: 0.5rem;
}
.categories-container::-webkit-scrollbar-track {
  background: transparent;
}

.categories {
  margin-block: 2rem;
}
.categories .headline2 {
  margin-block-start: 0;
  margin-block-end: 1.5rem;
}
.categories-description {
  text-align: center;
  margin-block-end: 1.5rem;
}
.categories-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-block-end: 0.75rem;
  overflow-x: scroll;
}
.categories-travel {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  inline-size: 11.8125rem;
  block-size: 8.1875rem;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.categories-travel::before {
  filter: brightness(0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.categories-travel:hover::before {
  filter: brightness(0.4);
}
.categories-travel.adventure::before {
  background-image: url("../images/aventura.jpg");
}
.categories-travel.art::before {
  background-image: url("../images/arte.jpg");
}
.categories-travel.hiking::before {
  background-image: url("../images/senderismo.webp");
}
.categories-travel.beach::before {
  background-image: url("../images/playa.webp");
}
.categories-travel.agrotourism::before {
  background-image: url("../images/agroturismo.jpg");
}
.categories-travel.family::before {
  background-image: url("../images/familiar.webp");
}
.categories-travel-title {
  position: relative;
  color: #ffffff;
  font: 600 1.5rem/normal "Montserrat", sans-serif;
}

.benefits {
  margin-block: 2rem;
}
.benefits-container {
  display: grid;
  gap: 1.5rem;
}
.benefits-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #f1f5f9;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 0.75rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.benefits-card-title {
  font: 600 1rem/normal "Montserrat", sans-serif;
  margin-block-end: 0.5rem;
  color: #191e3b;
}
.benefits-card-info {
  margin: 0;
  font: 300 0.875rem/normal "Montserrat", sans-serif;
  text-align: justify;
}
.benefits-card img {
  inline-size: 3.125rem;
  block-size: 3.125rem;
}

.regions-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 12.5rem;
  margin-block: 2rem;
}
.regions-items {
  display: block;
  position: relative;
  display: grid;
  place-content: center;
}
.regions-items:nth-child(1) {
  grid-column: 1/-1;
}
.regions-items::before {
  filter: brightness(0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.6rem;
}
.regions-items:hover::before {
  filter: brightness(0.4);
}
.regions-items.andes::before {
  background-image: url("../images/salento.jpg");
}
.regions-items.llanos::before {
  background-image: url("../images/llanos.jpg");
}
.regions-items.pacifico::before {
  background-image: url("../images/pacifico.jpg");
}
.regions-items span {
  position: relative;
  color: #ffffff;
  font: 600 1.5rem/normal "Montserrat", sans-serif;
}

.contact {
  margin-block: 2rem;
}
.contact-info {
  text-align: center;
}
.contact-email {
  color: #191e3b;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.subscribe {
  text-align: center;
  margin-block-end: 4rem;
}
.subscribe-description {
  margin-block-end: 2rem;
}
.subscribe-form {
  max-inline-size: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.subscribe-form input {
  inline-size: 100%;
  box-sizing: border-box;
  background: #f5f5f5;
  border: none;
  border-radius: 0.25rem;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  outline: none;
}
.subscribe-form input:focus, .subscribe-form input:focus-within {
  outline: 1px solid #191e3b;
}
.subscribe-form input[type=submit] {
  background: #191e3b;
  color: #ffffff;
  font: 600 1rem/normal "Montserrat", sans-serif;
  line-height: 1.5;
  vertical-align: middle;
}

.footer {
  padding-block: 2rem;
  background: #191e3b;
  color: #ffffff;
}
.footer-title {
  color: #ffffff;
}
.footer-social-media {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.footer-social-media i {
  font-size: 2rem;
}

@media (width > 768px) {
  .hero {
    block-size: 37.5rem;
    justify-content: start;
  }
  .hero-description {
    gap: 1.5rem;
    align-items: start;
    max-inline-size: 43.75rem;
  }
  .hero-headline1 {
    font: 800 3rem/normal "Montserrat", sans-serif;
    line-height: 1.4;
    text-align: start;
  }
  .headline2 {
    font: 600 2.25rem/normal "Montserrat", sans-serif;
  }
  p {
    font: 300 1.5rem/normal "Montserrat", sans-serif;
  }
  .benefits-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .benefits-card {
    flex-direction: row;
  }
  .benefits-card-title {
    font: 600 1.5rem/normal "Montserrat", sans-serif;
  }
  .benefits-card-info {
    font: 300 1rem/normal "Montserrat", sans-serif;
  }
  .regions-items:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .regions span {
    font: 600 2.25rem/normal "Montserrat", sans-serif;
  }
}
@media (width > 990px) {
  .navbar .nav-link:before {
    content: "";
    position: absolute;
    bottom: 4px;
    block-size: 2px;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    background: currentColor;
    transition: width 0.3s ease;
  }
  .navbar .nav-link:hover::before {
    width: 90%;
  }
  .navbar .nav-link.active:hover::before {
    width: 0;
  }
}/*# sourceMappingURL=index.css.map */