.footer {
  padding-block: 2rem;
  background: $primary;
  color: $white;
  &-title {
    color: $white;
  }
  &-social-media {
    display: flex;
    gap: 1rem;
    justify-content: center;
    i {
      font-size: 2rem;
    }
  }
}
