.header {
  block-size: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 0.5rem;
  background: $white;
  position: sticky;
  top: 0;
  z-index: 3;
  border-block-end: 1px solid $gray10;
  &-logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  span {
    display: block;
    line-height: 1rem;
    font-weight: 600;
    color: $gray20;
  }
}
@import '../components/navbar';
