// Component General
.filters {
  &-title {
    margin-block-start: 1rem;
    margin-block-end: 1.5rem;
    color: $gray20;
    font: $base-font-bold;
  }
  &-section {
    padding-block-end: 1.5rem;
    margin-block-end: 1.5rem;
    border-block-end: 1px solid $gray10;
  }
  &-subtitle {
    color: $gray20;
    font: $base-font-bold;
  }
}
// Filter Categories menu
.filter-categories-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &-item {
    font: $font-xs;
    color: $gray20;
  }
  label {
    padding-inline-start: 0.25rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    &:hover .filter-categories-menu-item {
      text-decoration: underline;
      cursor: pointer;
      transition: 0.3s;
    }
  }
  input[type='checkbox'] {
    margin: 0;
  }
}
// Filter Price
.filter-price {
  display: grid;
  gap: 1.5rem;
  font: $font-xs;
  color: $gray20;
  &-range {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  &-label {
    display: flex;
    gap: 0.25rem;
    justify-content: space-between;
    align-items: center;
    input {
      inline-size: 55%;
      background: $grayInput;
      color: $gray20;
      border: none;
      border-radius: 0.25rem;
      padding-inline: 0.5rem;
      padding-block: 0.25rem;
      outline: none;
      box-sizing: border-box;
    }
  }
}
//Filter Date
.filter-date {
  font: $font-xs;
  color: $gray20;
  display: grid;
  gap: 1.5rem;
  label {
    display: flex;
    justify-content: space-between;
    input {
      inline-size: 55%;
      outline: none;
      color: $gray20;
      background: $grayInput;
      border: none;
      border-radius: 0.25rem;
      padding-inline: 0.5rem;
      padding-block: 0.25rem;
      outline: none;
      box-sizing: border-box;
    }
  }
}
// Filter form search
.filter-section-search {
  margin-block-start: 1rem;
}
.filters-form-search {
  display: flex;
  gap: 0.5rem;
  padding-inline-start: 0.15rem;
  margin-block-start: 1rem;
  label {
    inline-size: 100%;
  }
  input {
    display: block;
    inline-size: inherit;
    border-radius: 0.25rem;
    border: none;
    background-color: $grayInput;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    font: $font-sm;
    color: $gray20;
    box-sizing: border-box;
    &:focus {
      outline: 1px solid $primary;
    }
  }
  button {
    border: none;
    background-color: $primary;
    color: $white;
    border-radius: 0.25rem;
  }
}
// Filter social
.filters-social {
  display: flex;
  justify-content: space-between;
  a {
    background-color: $primary;
    display: block;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    border-radius: 0.25rem;
  }
  i {
    font-size: 1.2rem;
    color: $white;
  }
}
