.weather {
  margin-block: 2rem;

  &-info {
    text-align: center;
    margin-block-end: 1.5rem;
  }
  &-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    background-color: $primary;
    padding-block: 1rem;
    border-radius: 0.5rem;
    max-inline-size: 380px;
    margin: auto;
  }
  &-image {
    display: none;
    background-image: url('../icons/colombia.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-description-title {
    color: $white;
    font: $headline-3;
    text-align: center;
    margin-block-end: 1.5rem;
  }
  &-items {
    color: $gray10;
    margin: 0;
    padding-inline-start: 2.5rem;
    padding-inline-end: 2rem;
    li {
      margin-block-end: 1rem;
      text-align: justify;
    }
    strong {
      font-weight: 600;
    }
  }
}
