@media (width > 768px) {
  .hero {
    block-size: 37.5rem;
    justify-content: start;
    &-description {
      gap: 1.5rem;
      align-items: start;
      max-inline-size: 43.75rem;
    }
    &-headline1 {
      font: $headline-1;
      line-height: 1.4;
      text-align: start;
    }
  }
  .headline2 {
    font: $headline-2;
  }
  p {
    font: $font-lg;
  }
  .benefits {
    &-container {
      grid-template-columns: repeat(2, 1fr);
    }
    &-card {
      flex-direction: row;
      &-title {
        font: $headline-3;
      }
      &-info {
        font: $base-font;
      }
    }
  }
}
@media (width> 990px) {
  .navbar {
    .nav-link:before {
      content: '';
      position: absolute;
      bottom: 4px;
      block-size: 2px;
      left: 50%;
      width: 0;
      transform: translateX(-50%);
      background: currentColor;
      transition: width 0.3s ease;
    }
    .nav-link:hover::before {
      width: 90%;
    }
    .nav-link.active:hover::before {
      width: 0;
    }
  }
}
