.headline1 {
  font: $headline-1;
  text-align: center;
  margin: 0;
}
.headline2 {
  font: $headline-3;
  color: $primary;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 1.5rem;
}
.headline3 {
  font: $headline-3;
}
p {
  font: $base-font;
  color: $gray20;
}
