$white: #ffffff;
$gray10: #f1f5f9;
$gray20: #757787;
$grayInput: #f5f5f5;
$grayLogo: #555555;
$primary: #191e3b;
// Fonts
$base-font-family: 'Montserrat', sans-serif;

$headline-1: 800 3rem / normal ($base-font-family);
$headline-2: 600 2.25rem / normal ($base-font-family);
$headline-3: 600 1.5rem / normal ($base-font-family);
$font-lg: 300 1.5rem / normal ($base-font-family);
$base-font-bold: 600 1rem / normal ($base-font-family);
$base-font: 300 1rem / normal ($base-font-family);
$font-sm: 300 0.875rem / normal ($base-font-family);
$font-xs: 300 0.75rem / normal ($base-font-family);
