%scroll {
  &::-webkit-scrollbar {
    inline-size: 6px;
    block-size: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: $gray20;
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
